<div class="modal-header">
	<h3 class="model-title">Add new todo</h3>
</div>
<div class="modal-body">
	<input type="text" ng-model="addCtrl.todoText">
</div>
 <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="addCtrl.save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="addCtrl.cancel()">Cancel</button>
</div>