<div class="todo-item row clearfix">
	<div class="todo-item-description col-xs-8">
		<div ng-show="!todoCtrl.editMode">
			{{todoCtrl.item.what}}
		</div>
		<div ng-show="todoCtrl.editMode">
			<input type="text" ng-model="todoCtrl.item.what">
		</div>
	</div>
	<div class="col-xs-2">
		<div ng-if="!todoCtrl.editMode">
			<button class="btn btn-primary" type="button" ng-click="todoCtrl.toggleEditMode()">Edit</button>
		</div>
		<div ng-if="todoCtrl.editMode">
			<button class="btn btn-primary" type="button" ng-click="todoCtrl.save()">Save</button>
		</div>
	</div>
	<div class="todo-item-complete col-xs-2">
		<button class="btn btn-success" ng-click="todoCtrl.item.markIncomplete()" ng-if="todoCtrl.item.complete"><i class="glyphicon glyphicon-ok "></i></button>
		<button class="btn btn-danger" ng-click="todoCtrl.item.markComplete()" ng-if="!todoCtrl.item.complete"><i class="glyphicon glyphicon-minus-sign "></i></button>
	</div>
</div>