<h2>My ToDos</h2>
<div class="well">
	<div class="form-group">
		<label for="filter">Filter todos</label>
		<select ng-model="list.filterType" ng-change="list.applyFilter(list.filterType)" class="form-control" name="filter" id="filter">
			<option value="all">All</option>
			<option value="incomplete">To Do</option>
			<option value="complete">Done</option>
		</select>
	</div>
</div>
<todo-list list="list.todos"></todo-list>
<button class="btn btn-primary" type="button" ng-click="list.openAdd()">
	<i class="glyphicon glyphicon-plus"></i> Add Todo
</button>