{{> header}}
	<form action="add" method="POST">
		<div class="form-group">
			<label for="what-todo">What do you need to do?</label>
			<textarea name="what-todo" id="what-todo" class="form-control"></textarea>
		</div>
		<div class="btn-group">
			<a href="list" class="btn btn-warning">Cancel</a>
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form>
{{> footer}}