{{> header}}
	<form action="update" method="POST">
		<div class="form-group">
			<label for="what-todo">What do you need to do?</label>
			<textarea name="what-todo" id="what-todo" class="form-control">{{what}}</textarea>
		</div>
		<div class="form-group">
			<label for="completed">Complete?</label>
			<input name="complete" id="completed" type="checkbox" {{#if complete}}checked{{/if}}>
		</div>
		<input type="hidden" name="id" value="{{_id}}"}>
		<div class="btn-group">
			<a href="list" class="btn btn-warning">Cancel</a>
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form>
{{> footer}}