{{> header}}
	<h2>My ToDos</h2>
	<div class="well">
		<form>
			<div class="form-group">
				<label for="filter">Filter todos</label>
				<select class="form-control" name="filter" id="filter">
					<option value="all">All</option>
					<option value="incomplete" {{#if filterSettings.incomplete}}selected{{/if}}>To Do</option>
					<option value="complete" {{#if filterSettings.complete}}selected{{/if}}>Done</option>
				</select>
				<button type="submit" class="btn btn-primary">Apply</button>
			</div>
		</form>		
	</div>
	<ul class="list-group">
		{{#each todos}}
			<li class="list-group-item">
				<div class="row clearfix">
					<div class="col-xs-10">
						{{what}}
					</div>
					<div class="col-xs-1">
						<span class="label label-success">{{#if complete}}<i class="glyphicon glyphicon-ok "></i>{{/if}}</span>
					</div>
					<div class="col-xs-1">
						<a href="update?id={{_id}}" class="btn btn-primary btn-sm">
							<i class="glyphicon glyphicon-pencil pull-right"></i>
						</a>
					</div>
				</div>
				
				
				
			</li>
		{{/each}}
	</ul>
	<a href="add" class="btn btn-primary"><i class="glyphicon glyphicon-plus">
		</i> Add Todo
	</a>
{{> footer}}